# Compiled and build artifacts
*.pyc
__pycache__/

# Dependencies
node_modules/
vendor/
*.zip
*.tar.gz

# Logs and temp files
*.log
*.tmp
*.swp

# Environment
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/

# WordPress specific
wp-content/cache/
wp-content/uploads/
*.sql
wp-config.php
wp-content/plugins/akismet/
wp-content/themes/twenty*/