name: Deploy to Reg.ru
on:
  push:
    branches: [ "main" ] # Запускать при пуше в главную ветку
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: FTP Deploy
      uses: SamKirkland/FTP-Deploy-Action@v4.3.4
      with:
        server: ${{ secrets.FTP_HOST }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: ./ # Откуда грузим (из репозитория)
        server-dir: /www/likegallery.ru/ # Куда грузим (на хостинге)
        exclude: | # Что НЕ грузить (чтобы не сломать WP)
          **/.git*
          **/node_modules/**
          .env